.App {
    font-family: 'Merriweather Sans', 'Helvetica', sans-serif;
}

.auth-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    border: solid red 1px;
}

.auth-page h3 {
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
}

.auth-page h3:hover {
    background-color: black;
}

.login-form {
    background-color: #bc002d;
    color: white;
    padding: 0 150px;
}

.input-field {
    display: flex;
    justify-content: center;
    align-items: center;
}


#image-one {
    float: left;
    margin-right: 20px;
}

#image-two {
    float: right;
    margin-left: 20px;
}

.show-buttons {
    display: flex;
    justify-content: center;
}

.show-buttons>button {
    margin: 10px;
}

.white-space {
    white-space: pre-wrap;
}

.show-images {
    width: 400px;
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
}

.Home {
    text-align: center;
}

.home-container {
    width: 750px;
    height: 515px;
    /* display: flex;
    justify-content: center; */
}

#carouselExampleIndicators {
    margin-left: 21%;
    width: 750px;
}

.carousel-item>img {
    width: 750px;
    height: 515px;
}

#carousel-img {
    width: 750px;
    height: 515px;
}

.home-image {
    max-width: 60%;
    max-height: 100%;
}

.home-image-md {
    max-width: 90%;
    margin: 1px;
    margin-left: 8px;
}

.region-img {
    max-width: 60%;
}

.navbar-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #bc002d;
    margin-bottom: 20px;
}

.logo {
    width: 40%;
}

.navbar-nav>h3 {
    color: white;
    font-style: italic;
}

.nav-link {
    color: white;
}

.login {
    color: white;
}

.logout-btn {
    color: white;
    cursor: pointer;
    text-decoration: underline;
    margin-right: 2%;
}

.logout-btn:hover {
    color: black;
}

.comment-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-top: 20px;
    overflow: auto;
    height: 200px;
}

.comment-thread {
    border: solid black;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    gap: 33%;
    padding: 0 50px 0 10px;
}

.comment-form {
    display: flex;
    flex-direction: column;
    margin-top: 15%;
}

.comment-form>textarea {
    flex: 2;
}

.text-center>.content {
    background-color: #bc002d;
    color: white;
}

.footer-btn {
    color: white;
    margin: 3px;
}