#image-one {
    float: left;
    margin-right: 20px;
}

#image-two {
    float: right;
    margin-left: 20px;
}

.show-buttons {
    display: flex;
    justify-content: center;
}

.white-space {
    white-space: pre-wrap;
}

.show-images {
    width: 400px;
}

.navbar-nav {
    display: flex;
    justify-content: space-evenly;
    background-color: #bc002d;
}

.nav-link {
    color: white;
}

.text-center>.content {
    background-color: #bc002d;
    color: white;
}

.footer-btn {
    color: white;
    margin: 3px;
}